body {
    background-color:#d98d1c
}
.body-content {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.under-construction {
    font-size:3rem;
    font-style: italic;
    text-align: center;
    border-style: dashed;
    padding: 60px 20px;
    max-width: 700px;
    align-self: center;
}


footer {
    position: absolute;
    right: 15px;
    bottom: 0;
}

@media only screen and (min-width: 768px){
    .under-construction {
        font-size: 4rem;
    }
}
@media only screen and (min-width: 992px) {
    .under-construction {
        font-size: 5rem;
        max-width: 900px;
    }
}
@media only screen and (min-width: 1200px) {

}
